*
{
    background: gray;
}

fieldset
{
    background: lightcoral;
    border: 0;
}
/*fieldset to get rid of the border lines around all text*/
h1
{
    text-align: center;
    background: azure;
}
.outside
{
    background: azure;
    border: 1px solid lightgray ;
    margin: 10% 23%;
}

label
{
    background: lightpink;
}
input
{
    background: white;
}
span
{
    background: black;
    color: red;
}
/*give it a bunch of color and style*/